.main-wrapper{
  background-color: #1D1D1D;
  color: white;
}
header{
  width: 100%;
  height: 100vh;
  background-color: #1D1D1D;
}
.footer{
  width: 100%;
  height: 100vh;
  background-color: #1D1D1D;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.middle{
  width: 100%;
  height: 100vh;
  background-color: #2F2F2F;
}
.leaflet-container .leaflet-control-attribution {
  display: none;
}
.contact-center{
  margin-left: 3vw;
  margin-top: 3vw;
}
.contact{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  font-size: 3.5vw;
  margin: 0;
  margin-left: 1vw;
  color: #73C991;
}
.Before::before{
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 0.9vw;
}
.After::before{
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 0.9vw;
}
.h2::before{
  content: '<h2>';
}
.h2-after::before{
  content: '</h2>';
}
input, textarea, .div-button{
  margin-top: 0.5vw;
  width: 90%;
  background-color: #2B2B2B;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  font-size: 1vw;
  padding-left: 1%;
  height: 2.5vw;
  color: white;
}
.div-button{
  display: flex;
  background-color: transparent;
  justify-content: end;
}
#email-button{
  width: 30%;
  border: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  background-color: transparent;
  color: #9CDCFE;
  font-size: 1vw;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #9CDCFE;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#email-button:hover{
  background-color: #9CDCFE;
  color: #2B2B2B;
}
input:focus, textarea:focus{
  outline: none;
  border-bottom-color: #73C991;
}
input:focus:invalid , textarea:focus:invalid {
  outline: none;
  border-bottom-color: #C05D53;
}
textarea{
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  height: 10vw;
}
.input{
  margin-top: 0vw;
  width: 100%;
  padding-left: 2%;
}
.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vw;
  width: 90%;
  margin-top: 0.5vw;
}
.form-div{
  margin-left: 2vw;
}
.form::before{
  content: '<from>';
  display: block;
  margin-top: 1vw;
  margin-left: 1vw;
}
.form-after::before{
  content: '</form>';
  margin-left: 1vw;
}
.body-after::before{
  content: '</body>';
  display: block;
  margin-left: 2.5vw;
  margin-top: 4vw;
}
.html-after::before{
  content: '</html>';
  display: block;
  margin-left: 1vw;
  margin-top: 1vw;
}
.invisable{
  color: transparent;
}
.div-back-color{
  background-color: #1D1D1D;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #73C991;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #9CDCFE;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.header {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='%239CDCFE' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}
.middle{
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='%23897EB1' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}
footer{
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='%2373C991' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}
.header .dot{
  position: absolute;
  border-radius: 50%;
  background-color: #9CDCFE;
}
.footer-top{
  width: 100vw;
  height: 3vw;
  margin-top: -4.5vw;
  display: flex;
  justify-content: center;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  z-index: 0;
}
.to-the-top{
  width: 3vw;
  height: 3vw;
  border-radius: 100px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5em);
  }
  60% {
    transform: translateY(-0.25em);
  }
}
.to-the-top{
  animation: bounce 0.8s infinite;
}
.bounce-icon {
  opacity: 0;
  animation: faze 2s infinite ease-in-out;
}

@keyframes faze {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.h1::before{
  content: '<h1>';
}
.h1-after::before{
  content: '</h1>';
}

@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
  background-color: #010;
}

.title {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height:2
}

h1{
  margin: 0;
  font-size: 5vw;
}
h1 span{
  /* background-image: url(https://media.giphy.com/media/9PrqNHPAdWyJVOXntF/giphy.gif); */
  /* background-image: url(https://media.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif); */
  /* background-image: url(https://media.giphy.com/media/yidUzCFWkLKzR1AizK/giphy.gif); */
  /* background-image: url(https://media.giphy.com/media/WO7ke4UgvElY9Ecqg1/giphy.gif); */
  /* background-image: url(https://media.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif); */
  /* background-image: url(https://media.giphy.com/media/xTiTnCjYUwkhP0PE0o/giphy.gif); */
  background-size: cover;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  /* color: transparent; */
  color: #D7BA71;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
h1 {
  text-transform: uppercase;
}
h1 span {
  display: inline-block;
  transform-origin: 50% 100%;
  animation: springy 0.5s ease-in-out forwards;
}
h1 span:hover {
  animation-name: springy-hover;
}
.contact span {
  display: inline-block;
  transform-origin: 50% 100%;
  animation: springy-no-color 0.5s ease-in-out forwards;
}
.contact span:hover {
  animation-name: springy-hover-no-color;
}
@keyframes springy {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
    color: #9CDCFE;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes springy-hover {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.2);
    color: #9CDCFE;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes springy-no-color {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes springy-hover-no-color {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1);
  }
}
.invisable{
  background-image: none;
  color: transparent;
  animation: none;
}
.invisable:hover{
  background-image: none;
  color: transparent;
  animation-name: none;
}
.swal2-popup{
  background-color: #2B2B2B !important;
  color: white !important;
}
.swal2-success-circular-line-right, .swal2-success-circular-line-left{
  background-color: #2B2B2B !important;
}
.swal2-styled.swal2-confirm {
  background-color: #CE8455 !important;
  box-shadow: 0px 0px 5px 0px #CE8455 !important;
}